@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


*       {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    outline: none;
}

.container-login    {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: 'box-login-1 box-login-2';
}

.box-login-1        {
    grid-area: box-login-1;
    background-image: url('./components/static/img/bg-login.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: #c0c0c0;
}

.box-login-inside       {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;

}

.box-login-label       {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.title      {
    width: 75%;
    margin-top: 40%;
    margin-left: 25%;
    background-color: #3333;
}

h1      {
    font-size: 6vw;
    text-align: center;

}

.subtitle       {
    width: 75%;
    margin-left: 25%;
    background-color: #3333;
}

.subtitle-label     {
    margin-left: 40%;
    font-weight: 300 !important;
}


.box-login-2 {
    grid-area: box-login-2;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}

.container-form-login       {
    width: 90%;
    height: 40%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: #343534;
}

.title-login    {
    font-size: 3rem;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c0c0c0;
}

#formLogin      {
    margin-top: 5%;
    height: 50%;
}

.form-input    {
    height: 20%;
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
}



.svg-icon       {
    padding: 4px;
    background-color: #171717;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.email-login     {
    width: 87%;
    padding: 7px;
    border: 2px solid #c0c0c0;
    border-left: none;
}

.btn-form-login     {
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    
}

.btn-form {
    padding: 10px 15px;
    color: #c0c0c0;
    background-color: #9b9999d8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-form:hover {
    background-color: white;
    color: black;
}

.register       {
    height: 30%;
    margin-top: 5%;
    margin-bottom: 3%;
    color: #FFFFFF;
    width: 60%;
    margin-left: 20%;
    font-weight: 300;
    font-size: 1vw;

}

.link-register      {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration:underline;
    
}

#containerFormRegister  {
    display: none;
}

/*style register */
.container-form-register       {
    width: 90%;
    height: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: #343534;
}